

@{
    ViewData["Title"] = "Create Product";
}


<div class="container">
    <div class="col"></div>

    <div class="col-8 content-data">
        <form asp-action="Create" asp-controller="Home">
            <table class="table center">

                <thead>
                    <tr>
                        <th>
                            Create Product
                        </th>
                    </tr>
                </thead>

                <tbody>



                    <tr>
                        <td>
                            ID:
                        </td>
                        <td>
                            <input type="text" value="" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Product Name:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Price:
                        </td>
                        <td>
                            <input type="text"  />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quantity:
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td class="float-right">
                            <button type="submit">
                                Submit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    <div class="col"></div>

</div>
